@font-face {
    font-family: pixchicago;
    src: url('/assets/fonts/perfect_pixchicago-webfont.woff2') format('woff2'),
         url('/assets/fonts/perfect_pixchicago-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'apple_garamondregular';
    src: url('/assets/fonts/applegaramond-webfont.woff2') format('woff2'),
         url('/assets/fonts/applegaramond-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pixel_arial_11bold';
    src: url('/assets/fonts/pixeab__-webfont.woff2') format('woff2'),
         url('/assets/fonts/pixeab__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pixel_arial_11regular';
    src: url('/assets/fonts/pixearg_-webfont.woff2') format('woff2'),
         url('/assets/fonts/pixearg_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pixchicago';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/pixChicago.woff') format('woff');
}

@font-face {
    font-family: dos_vga_437;
    src: url('/assets/fonts/perfect_dos_vga_437-webfont.woff2') format('woff2'),
         url('/assets/fonts/perfect_dos_vga_437-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*------------------------*/

@media (max-width: 1100px) {                  
    html, body {
        padding: 20px 10px !important;
    }
    .blog-list {
        width: 100% !important;
    }
    .blog-page figure img {
        width: 95% !important;
    }
}

/*------------------------*/

html, body, a {
    cursor: url("/assets/cursor.ico"), auto;
}

body {
    --background: black;
    
    --white: white;
    --black: black;
    --blue: blue;
    --gray: gray;

    --invert: 100%;
    --invert-hover: 0%;

    --enable-color: 0;
    --brightness: 1;
    --hue-rotate: 0deg;

    padding: 50px;
    background-color: var(--background);
}

body, a {
    font-family: "pixchicago";
    color: var(--white);
    text-decoration: none;
}

a:hover, a:hover b {
    color: var(--black) !important;
    background-color: var(--white);
}

footer {
    font-size: 10px;
    background-color: var(--background);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}

footer:not(a) {
    color: var(--gray);
}

footer b {
    background-color: var(--gray);
    color: var(--black);
}

#subtitle p {
    letter-spacing: 10px;
    font-size: 10px;
    font-weight: normal;
    font-family: "pixel_arial_11regular";
}

ul {
    list-style: square;
}

/*------------------------*/

.index-button {
    height: 60px;
    display: table-cell;
}

.index-button * {
    vertical-align: middle;
}

.index-button img {
    height: 100%;
    filter: invert(var(--invert)) brightness(var(--brightness)) sepia(var(--enable-color)) saturate(calc(var(--enable-color) * 10000%)) hue-rotate(var(--hue-rotate));
    margin-right: 10px;
    padding: 5px;
}

.index-button:hover {
    background-color: var(--white);
}

.index-button:hover img {
    filter: invert(var(--invert-hover)) brightness(var(--brightness)) sepia(var(--enable-color)) saturate(calc(var(--enable-color) * 10000%)) hue-rotate(var(--hue-rotate));
}

/*------------------------*/

.blog-list b {
    font-family: "Courier New", monospace;
    font-size: 140%;
    color: var(--gray);
    border-right: solid var(--gray) 1px;
    padding-right: 10px;
    vertical-align: middle;
}

.blog-list #featured {
    display: inline-block;
    width: 90%;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    font-size: 150%;
    border: dashed var(--gray) 1px;
}

.blog-page *:not(h1 a, h2), .blog-page p, .blog-page ul {
    font-family: "pixel_arial_11regular";
}

.blog-page p {
    text-indent: 20pt;
    font-size: 18px;
    letter-spacing: 1px;
}

.blog-page ul {
    font-size: 18px;
}

.blog-page p a {
    color: var(--blue);
    font-family: "pixel_arial_11bold" !important;
}

.blog-page p b {
    font-family: "pixel_arial_11bold" !important;
}

.blog-page h1 {
    display: table-cell;
}

.blog-page h1 * {
    vertical-align: middle;
}

.blog-page h1 img {
    width: 50px;
    margin-right: 25px;
    filter: invert(var(--invert)) brightness(var(--brightness)) sepia(var(--enable-color)) saturate(calc(var(--enable-color) * 10000%)) hue-rotate(var(--hue-rotate));
}

.blog-page h1 a:hover img {
    filter: invert(var(--invert-hover)) brightness(var(--brightness)) sepia(var(--enable-color)) saturate(calc(var(--enable-color) * 10000%)) hue-rotate(var(--hue-rotate));
}

.blog-page h1 a {
    color: var(--white);
}

.blog-page h2 i {
    color: var(--gray);
    font-size: 15px;
}

.blog-page hr {
    border: 2px dashed var(--gray);
}

.blog-page figure {
    text-align: center;
}

.blog-page figure img {
    width: 50%;
}

.blog-page figcaption {
    font-style: italic;
}