@font-face {
    font-family: "pixchicago";
    src: url("/assets/fonts/pixchicago/pixchicago.woff2") format("woff2"),
         url("/assets/fonts/pixchicago/pixchicago.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "garamond";
    src: url("/assets/fonts/garamond/garamond.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "garamond";
    src: url("/assets/fonts/garamond/garamond_italic.ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "garamond";
    src: url("/assets/fonts/garamond/garamond_bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "garamond";
    src: url("/assets/fonts/garamond/garamond_bolditalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "pixel_arial";
    src: url("/assets/fonts/pixelarial/pixelarial.woff2") format("woff2"),
         url("/assets/fonts/pixelarial/pixelarial.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "pixel_arial";
    src: url("/assets/fonts/pixelarial/pixelarial_bold.woff2") format("woff2"),
         url("/assets/fonts/pixelarial/pixelarial_bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "cjkserif";
    src: url("/assets/fonts/cjkserif/cjkserif.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "cjkserif";
    src: url("/assets/fonts/cjkserif/cjkserif_bold.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "handwritten";
    src: url("/assets/fonts/handwritten.ttf");
}

/*------------------------*/

@media (max-width: 800px) {                  
    html, body {
        padding: 20px 10px !important;
    }
    #index-column {
        width: 100% !important;
    }
    #index-grid {
        display: block !important;
        margin: 10px 0px !important;
    }
    #index-grid ul {
        margin: 10px !important; 
    }
    .sub-page figure img {
        width: 95% !important;
    }
    .list, .prose {
        margin: 10px 0px !important;
    }
}

/*------------------------*/

html, body, a {
    cursor: url("/assets/cursor.ico"), auto;
}

body {
    --background: black;
    
    --white: white;
    --black: black;
    --blue: blue;
    --gray: gray;
    --accent: darkred;

    --invert: 100%;
    --invert-hover: 0%;

    --enable-color: 0;
    --brightness: 1;
    --hue-rotate: 0deg;

    padding: 50px;
    background-color: var(--background);
}

body {
    font-family: "pixchicago";
    color: var(--white);
}

a {
    color: var(--blue);
    text-decoration: none;
}

a:hover, a:hover b {
    color: var(--black) !important;
    background-color: var(--white);
    cursor: pointer;
}

#fixed-footer {
    font-size: .75rem;
    background-color: var(--background);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}

#fixed-footer:not(a) {
    color: var(--gray);
}

#fixed-footer b {
    background-color: var(--gray);
    color: var(--black);
}

#subtitle {
    max-width: 50%;
    max-height: 500px;
    transition: 100ms;
    filter: invert(var(--invert-hover)) brightness(var(--brightness)) sepia(var(--enable-color)) saturate(calc(var(--enable-color) * 10000%)) hue-rotate(var(--hue-rotate));
}

#site-title p {
    letter-spacing: 10px;
    font-size: .75rem;
    font-weight: normal;
    font-family: "pixel_arial";
}

ul {
    list-style: square;
}

#sectionbreak {
    width: 50%;
    max-width: 200px;
    padding: 10px;
    display: block;
    margin: auto;
    filter: invert(var(--invert-hover)) brightness(var(--brightness)) sepia(var(--enable-color)) saturate(calc(var(--enable-color) * 10000%)) hue-rotate(var(--hue-rotate));
}

#sectionbreak-inline {
    filter: invert(var(--invert-hover)) brightness(var(--brightness)) sepia(var(--enable-color)) saturate(calc(var(--enable-color) * 10000%)) hue-rotate(var(--hue-rotate));
    margin-right: -4px;
}

/*------------------------*/

.index-button {
    color: var(--white);
    height: 60px;
    display: table-cell;
}

.index-button * {
    vertical-align: middle;
}

.index-button img {
    height: 100%;
    filter: invert(var(--invert)) brightness(var(--brightness)) sepia(var(--enable-color)) saturate(calc(var(--enable-color) * 10000%)) hue-rotate(var(--hue-rotate));
    margin-right: 10px;
    padding: 5px;
    transition: 100ms;
}

.index-button:hover {
    color: var(--black);
    background-color: var(--white);
}

.index-button:hover img {
    filter: invert(var(--invert-hover)) brightness(var(--brightness)) sepia(var(--enable-color)) saturate(calc(var(--enable-color) * 10000%)) hue-rotate(var(--hue-rotate));
}

/*------------------------*/

#index-list {
    margin: 0px;
    padding: 25px;
    list-style-type: none;
}

#index-list h2 {
    margin: 0px 0px 10px 0px;
    text-shadow: 2px 2px var(--accent);
}

#index-list h2 img {
    display: inline;
    filter: invert(var(--invert)) brightness(var(--brightness)) sepia(var(--enable-color)) saturate(calc(var(--enable-color) * 10000%)) hue-rotate(var(--hue-rotate));
    vertical-align: middle;
    margin-right: 15px;
}

#index-list h3 {
    font-style: italic;
    color: var(--gray);
    text-align: right;
}

#index-list b {
    color: var(--gray);
    border-right: solid var(--gray) 1px;
    padding-right: 5px;
}

#index-list i {
    color: var(--white);
    font-weight: normal;
}

#index-list a:hover i {
    color: var(--black);
}

#index-list #subdirectory {
    font-style: italic;
    color: var(--accent);
}

.journal a:hover {
    background-color: var(--black);
}

.journal img {
    width: 100%;
    display: inline-block;
    max-width: 500px;
    vertical-align: middle;
}

.journal a:hover img {
    filter: invert(75%);
}

/*------------------------*/

.sub-page {
    font-family: "pixel_arial";
    font-size: 1rem;
}

.sub-page p {
    text-indent: 20pt;
    text-align: justify;
    text-justify: inter-word;
}

.sub-page a {
    font-weight: bold;
}

.sub-page h1 {
    font-family: "handwritten";
    font-size: 4rem;
    display: table-cell;
    text-shadow: 2px 2px var(--accent);
}

.sub-page h1 img {
    width: 50px;
    margin-right: 25px;
    filter: invert(var(--invert)) brightness(var(--brightness)) sepia(var(--enable-color)) saturate(calc(var(--enable-color) * 10000%)) hue-rotate(var(--hue-rotate));
    transition: 100ms;
    vertical-align: -10%;
}

.sub-page h1 a:hover img {
    filter: invert(var(--invert-hover)) brightness(var(--brightness)) sepia(var(--enable-color)) saturate(calc(var(--enable-color) * 10000%)) hue-rotate(var(--hue-rotate));
}

.sub-page h1 a {
    color: var(--white);
}

.sub-page h4 {
    color: var(--gray);
    font-size: 1rem;
}

.sub-page hr {
    border: 2px dashed var(--gray);
}

.sub-page figure {
    text-align: center;
}

.sub-page figure img {
    width: 50%;
}

.sub-page figcaption {
    font-style: italic;
}

.sub-page header, .sub-page footer {
    color: var(--gray);
    font-family: "garamond";
    font-style: italic;
    font-size: 1.15rem;
    text-align: justify;
    text-justify: inter-word;
    padding: 20px;
}

.sub-page header {
    border-bottom: 1px dashed var(--gray);
}

.sub-page footer {
    border-top: 1px dashed var(--gray);
}

/*------------------------*/

.list {
    margin: 10px 30%; 
}

.list h2, .list h3 {
    text-align: center;
}

.quote-list li {
    font-family: "garamond";
    font-size: 1.25rem;
    margin: 20px 0px;
    padding: 10px;
    border: 1px dashed var(--gray);
}

/*------------------------*/

.prose, .verse {
    font-size: 1.25rem;
    font-family: "garamond";
    margin: 10px 20%;
    line-height: 35px;
}

.verse {
    white-space: pre-wrap;
}

.prose h2, .verse h2, .prose h2 *, .verse h2 * {
    text-align: center;
    font-variant: small-caps;
}

.prose hr {
    margin: 0px 25%;
    border: 1px solid var(--gray);
}
