@font-face {
    font-family: "pixchicago";
    src: url("/assets/fonts/pixchicago/pixchicago.woff2") format("woff2"),
         url("/assets/fonts/pixchicago/pixchicago.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "garamond";
    src: url("/assets/fonts/garamond/garamond.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "garamond";
    src: url("/assets/fonts/garamond/garamond_italic.ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "garamond";
    src: url("/assets/fonts/garamond/garamond_bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "garamond";
    src: url("/assets/fonts/garamond/garamond_bolditalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "pixel_arial";
    src: url("/assets/fonts/pixelarial/pixelarial.woff2") format("woff2"),
         url("/assets/fonts/pixelarial/pixelarial.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "pixel_arial";
    src: url("/assets/fonts/pixelarial/pixelarial_bold.woff2") format("woff2"),
         url("/assets/fonts/pixelarial/pixelarial_bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "cjkserif";
    src: url("/assets/fonts/cjkserif/cjkserif.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "cjkserif";
    src: url("/assets/fonts/cjkserif/cjkserif_bold.otf");
    font-weight: bold;
    font-style: normal;
}

/*------------------------*/

@media (max-width: 1100px) {                  
    html, body {
        padding: 20px 10px !important;
    }
    #index-grid {
        margin: 10px 0px !important;
        grid-template-columns: auto !important;
    }
    .sub-page figure img {
        width: 95% !important;
    }
    .list, .prose {
        margin: 10px 0px !important;
    }
}

/*------------------------*/

html, body, a {
    cursor: url("/assets/cursor.ico"), auto;
}

body {
    --background: black;
    
    --white: white;
    --black: black;
    --blue: blue;
    --gray: gray;

    --invert: 100%;
    --invert-hover: 0%;

    --enable-color: 0;
    --brightness: 1;
    --hue-rotate: 0deg;

    padding: 50px;
    background-color: var(--background);
}

body {
    font-family: "pixchicago";
    color: var(--white);
}

a {
    color: var(--blue);
    text-decoration: none;
}

a:hover, a:hover b {
    color: var(--black) !important;
    background-color: var(--white);
}

#fixed-footer {
    font-size: 10px;
    background-color: var(--background);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}

#fixed-footer:not(a) {
    color: var(--gray);
}

#fixed-footer b {
    background-color: var(--gray);
    color: var(--black);
}

#site-title p {
    letter-spacing: 10px;
    font-size: 10px;
    font-weight: normal;
    font-family: "pixel_arial";
}

ul {
    list-style: square;
}

/*------------------------*/

.index-button {
    color: var(--white);
    height: 60px;
    display: table-cell;
}

.index-button * {
    vertical-align: middle;
}

.index-button img {
    height: 100%;
    filter: invert(var(--invert)) brightness(var(--brightness)) sepia(var(--enable-color)) saturate(calc(var(--enable-color) * 10000%)) hue-rotate(var(--hue-rotate));
    margin-right: 10px;
    padding: 5px;
    transition: 100ms;
}

.index-button:hover {
    color: var(--black);
    background-color: var(--white);
}

.index-button:hover img {
    filter: invert(var(--invert-hover)) brightness(var(--brightness)) sepia(var(--enable-color)) saturate(calc(var(--enable-color) * 10000%)) hue-rotate(var(--hue-rotate));
}

/*------------------------*/

#index-grid {
    display: grid;
    margin: 50px;
    grid-template-columns: auto auto;
    gap: 10px;
}

#index-grid ul {
    margin: 0px;
    list-style-type: none;
    border: 1px solid var(--gray);
    box-shadow: 5px 5px var(--gray);
    padding: 25px;
}

#index-grid ul h2, #index-grid ul h3 {
    margin: 0px 0px 10px 0px;
}

#index-grid ul h3 {
    font-style: italic;
}

#index-grid ul b {
    color: var(--gray);
    border-right: solid var(--gray) 1px;
    padding-right: 5px;
}

#index-grid ul i {
    color: var(--white);
    font-weight: normal;
}

#index-grid ul a:hover i {
    color: var(--black);
}

#index-grid #featured {
    display: inline-block;
    margin: 10px 0px;
    padding: 10px;
    font-size: 150%;
    border: dashed var(--gray) 1px;
}

/*------------------------*/

.sub-page:not(h1 a, h1 i), .sub-page p, .sub-page ul {
    font-family: "pixel_arial";
}

.sub-page p {
    text-indent: 20pt;
    font-size: 18px;
    text-align: justify;
    text-justify: inter-word;
}

.sub-page ul, .sub-page ol {
    font-size: 18px;
}

.sub-page a {
    font-weight: bold;
}

.sub-page h1 {
    font-family: "pixchicago";
    display: table-cell;
}

.sub-page h1 img {
    width: 50px;
    margin-right: 25px;
    filter: invert(var(--invert)) brightness(var(--brightness)) sepia(var(--enable-color)) saturate(calc(var(--enable-color) * 10000%)) hue-rotate(var(--hue-rotate));
    transition: 100ms;
    vertical-align: middle;
}

.sub-page h1 a:hover img {
    filter: invert(var(--invert-hover)) brightness(var(--brightness)) sepia(var(--enable-color)) saturate(calc(var(--enable-color) * 10000%)) hue-rotate(var(--hue-rotate));
}

.sub-page h1 a {
    color: var(--white);
}

.sub-page h2 i {
    color: var(--gray);
    font-size: 15px;
}

.sub-page hr {
    border: 2px dashed var(--gray);
}

.sub-page figure {
    text-align: center;
}

.sub-page figure img {
    width: 50%;
}

.sub-page figcaption {
    font-style: italic;
}

.sub-page header {
    color: var(--gray);
    border-bottom: 1px dashed var(--gray);
    font-family: "garamond";
    font-style: italic;
    font-size: 18px;
    text-align: justify;
    text-justify: inter-word;
    padding: 20px;
}

.sub-page footer {
    color: var(--gray);
    border-top: 1px dashed var(--gray);
    font-family: "garamond";
    font-style: italic;
    font-size: 18px;
    text-align: justify;
    text-justify: inter-word;
    padding: 20px;
}

/*------------------------*/

.list {
    margin: 10px 30%; 
}

.list h2, .list h3 {
    text-align: center;
}

.quote-list li {
    font-family: "garamond" !important;
    font-size: 20px;
    margin: 20px 0px;
    padding: 10px;
    border: 1px dashed var(--gray);
}

/*------------------------*/

.prose *, .poetry, .poetry * {
    font-size: 20px !important;
    font-family: "garamond" !important;
}

.prose, .poetry {
    margin: 10px 20%;
    line-height: 35px;
}

.prose h2, .poetry h2, .prose h2 *, .poetry h2 * {
    text-align: center !important;
    font-size: 40px !important;
    font-variant: small-caps;
}

.prose hr {
    margin: 0px 25%;
    border: 1px solid var(--gray);
}
