.blog {
    background-image: url("/assets/bg/macos.png");
    background-size: 128px;
    color: black;
}

.blog .main-content a {
    color: blue;
}

.blog .main-content {
    background: white;
	border: 2px solid black;
}

.blog .main-content header, .blog .main-content footer {
    color: black;
}
