html, body, a {
    cursor: url("/assets/cursors/cursor.cur"), auto;
}

body {
    --bg: black;
	--content-bg: linear-gradient(rgba(0, 0, 0, .9), rgba(35, 10, 25, .9));
	--sidebar-bg: var(--content-bg);

    --fg: white;
    --accent: deepskyblue;
    --accent2: gray;

	--sidebar-size: min(20%, 15rem);

    background: var(--bg);
	background-attachment: fixed;
    background-size: cover;
    font-family: "pixeltnr";
    font-size: 1.25rem;
    color: var(--fg);
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "dotmincho";
}

h3 {
    font-weight: normal;
    font-style: italic;
}

h2 i {
    font-weight: normal;
    font-size: 1.25rem;
    margin-left: 1rem;
    color: var(--accent2);
}

img {
    max-width: 100%;
    image-rendering: pixelated;
    vertical-align: text-bottom;
}

header, footer {
	text-align: center;
}

header {
	margin-top: 1rem;
}

header p:first-of-type, footer p:first-of-type {
    text-indent: 0px;
}

header img {
	width: 100%;
}

a {
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    color: var(--bg) !important;
    background: var(--fg);
    cursor: url("/assets/cursors/select.cur"), pointer;
}

a:hover:has(img) {
    filter: invert(75%);
    background: rgba(0, 0, 0, 0);
}

ul {
    list-style-image: url("/assets/bullet.png");
	width: 80%;
	margin: auto;
}

ul a + i {
   margin-left: 1rem;
}

table, th, td {
    border: 1px solid var(--fg);
    border-collapse: collapse;
    padding: 5px 10px;
    font-weight: normal;
}

pre {
	font-family: "dotmincho";
    white-space: pre-wrap;
}

#sectionbreak {
    width: 50%;
    max-width: 200px;
    padding: 10px;
    display: block;
    margin: auto;
}

#buttonwall {
	display: flex;
	flex-wrap: wrap;
}

#buttonwall img {
	flex: 10%;
}
