.journal {
    background-image: url("/assets/bg/macos.png");
    background-size: 128px;
    color: black;
}

.journal .main-content a {
    color: blue;
}

.journal .main-content a i, #date-list i {
	margin-right: 1rem;
}

.journal .main-content {
    background: white;
	border: 2px solid black;
}

.journal .main-content header, .journal .main-content footer {
    color: black;
}
