@media (max-width: 800px) {                  
    #index-main, #main-content {
        width: 90% !important;
    }
    .sub-page figure img {
        width: 95% !important;
    }
    .list, .prose {
        margin: 10px 0px !important;
    }
}

