.sidebar {
	grid-column: 1;
	position: sticky;
	top: 10px;
	right: 0px;
	width: 100%;
	height: min-content;
    background: var(--sidebar-bg);
	font-family: "dotmincho";
	font-size: 1rem;
    overflow: auto;
	margin: 25px auto;

	/* copy from main-content */
	border: 5px ridge var(--bg);
	box-shadow: 5px 5px 5px black;
}

.sidebar .sub {
    display: none;
}

.sidebar a, .sidebar p {
	display: block;
	padding: 10px;
}

.sidebar a span {
	color: var(--fg);
}

.sidebar a:hover span {
	color: var(--bg);
}

.sidebar img {
    margin: 10px auto;
}

.sidebar #subtitle {
    text-align: justify;
    color: var(--accent2);
    font-style: italic;
}

.sidebar #subtitle:hover {
    animation: rainbow 2s steps(2, end) forwards infinite;
}
