@media(max-width: 800px) {
    div {
        width: 100% !important;
    }
}

body {
    background: rgb(178, 188, 169);
    font-family: "tipixel";
    font-size: 2rem;
    color: black;
    padding: 30px;
}

div {
    width: 50%;
    margin: auto;
    word-break: break-all;
}

a {
    color: black;
}

a:hover {
    background: rgb(178, 188, 169) !important;
}

a:hover span, .hover {
    color: rgb(178, 188, 169) !important;
    background: black;
}
