@font-face {
    font-family: dos_vga_437;
    src: url('perfect_dos_vga_437-webfont.woff2') format('woff2'),
         url('perfect_dos_vga_437-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.blog p {
    font-family: dos_vga_437;
    color:black;
    font-style: normal;
    font-size: 30px;
}
.blog h1 {
    font-family: dos_vga_437;
    color:black;
    font-style: normal;
    font-size: 40px;
}
.blog button {
    font-size: 30px;
    font-family: dos_vga_437;
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: 1px solid white;
    cursor: pointer;
    margin-top: 25px;
}
.blog button:active {
    font-size: 30px;
    font-family: dos_vga_437;
    background-color: white;
    color: black;
    padding: 12px 20px;
    border: 1px solid white;
    cursor: pointer;
    margin-top: 25px;
}