@font-face {
    font-family: dos_vga_437;
    src: url('perfect_dos_vga_437-webfont.woff2') format('woff2'),
         url('perfect_dos_vga_437-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'apple_garamondregular';
    src: url('applegaramond-webfont.woff2') format('woff2'),
         url('applegaramond-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pixel_arial_11bold';
    src: url('pixeab__-webfont.woff2') format('woff2'),
         url('pixeab__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pixel_arial_11regular';
    src: url('pixearg_-webfont.woff2') format('woff2'),
         url('pixearg_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@keyframes shake{
    0%  {left: 200px;}
    25% {left: -200px;}
    50% {left: 200px;}
    75% {left: -200px;}
    100%{left: 200px;}
}
@keyframes rainbow{
    0%    {color: red;}
    12.5% {color: orange;}
    25%   {color: yellow;}
    37.5% {color: green;}
    50%   {color: blue;}
    62.5% {color: indigo;}
    75%   {color: purple;}
    87.5% {color: violet;}
    100%  {color: red;}
}
@keyframes flash1{
    0%    {color: white;}
    100%  {color: orange;font-weight: bold;}
}
@media (max-width: 1100px) {                  
    .hide-if-small {
       display: none;
    }
    #mainlogo{
        margin: 10px;
        width: 170% !important;
        text-align: center !important;
    }
 }
@keyframes movein{
    0%  {opacity: 0; right: 200px;}
    25% {opacity: 0; right: 200px;}
    100%{opacity: 1; right: 0px;}
}
@keyframes fadein{
    0%  {opacity: 0;}
    80% {opacity: 0;}
    100%{opacity: 1;}
}
body{
    background-color: rgb(10, 10, 10);
}
.body-border body{
    border:50px solid darkblue;
    margin: 0 auto;
    padding: 50px;
}
#inside-border{
    display: none;
}
#intro{
    background-color: darkblue;
}
footer {
    font-family: "dos_vga_437";
    font-size: 15px;
    text-align: center;
    color: white;
}

.dosfont a:link{
    font-family: dos_vga_437;
    color:white;
    font-style: normal;
    font-size: 30px;
    text-decoration: none;
}
.dosfont a:hover{
    font-family: dos_vga_437;
    color:black !important;
    background-color: white;
    font-style: normal;
    font-size: 30px;
    text-decoration: none;
}
.dosfont a:visited{
    font-family: dos_vga_437;
    color: white;
    font-style: normal;
    font-size: 30px;
    text-decoration: none;
}
.dosfont h1{
    font-family: dos_vga_437;
    color:white;
    font-style: normal;
    font-size: 30px;
}
.dosfont h2{
    font-family: dos_vga_437;
    color:white;
    font-style: normal;
    font-size: 50px;
    margin: 0px;
}
.dosfont p, ul, ol{
    font-family: dos_vga_437;
    color:white;
    font-style: normal;
    font-size: 25px;
}
.dosfont p a {
    font-size: 25px !important;
    font-style: italic !important;
    color: lightskyblue !important;
}
.geocities a:link{
    animation: flash1 0.5s infinite alternate;
    animation-iteration-count: 10;
    animation-delay: 1s;
    animation-timing-function:ease-in-out;
    font-family: dos_vga_437;
    background-color:black;
    font-style: normal;
    text-decoration: none;
}
.geocities a:hover{
    animation: rainbow 2s infinite;
    font-family: dos_vga_437;
    background-color:rgb(53, 53, 53);
    font-style: normal;
    text-decoration: none;
}
#indexface {
    cursor: move;
  }
#indexface.is-pointer-down {
box-shadow: 10px 10px 5px grey;
}
#indexface.is-dragging { opacity: 0.7; }