@font-face {
    font-family: dos_vga_437;
    src: url('perfect_dos_vga_437-webfont.woff2') format('woff2'),
         url('perfect_dos_vga_437-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'apple_garamondregular';
    src: url('applegaramond-webfont.woff2') format('woff2'),
         url('applegaramond-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@keyframes shake{
    0%  {left: 200px;}
    25% {left: -200px;}
    50% {left: 200px;}
    75% {left: -200px;}
    100%{left: 200px;}
}
@keyframes rainbow{
    0%    {color: red;}
    12.5% {color: orange;}
    25%   {color: yellow;}
    37.5% {color: green;}
    50%   {color: blue;}
    62.5% {color: indigo;}
    75%   {color: purple;}
    87.5% {color: violet;}
    100%  {color: red;}
}
@keyframes movein{
    0%  {opacity: 0; right: 200px;}
    25% {opacity: 0; right: 200px;}
    100%{opacity: 1; right: 0px;}
}
header{
    font-family: dos_vga_437;
    font-size: 35px;
    padding: 10px;
    background-color: blue;
    background-image: url("/assets/bgs/scanlinesbg.png");
    align-items: center;
    display: flex;
    position: fixed;
    margin: 0px;
}
.headerlinks{
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    font-size: 30px;
    margin-left: 20px;
}
.headerlinks a{
    border-radius: 10px;
    padding: 10px;
    font-size: 30px;
    color: white;
    text-decoration: none;
}
footer {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: yellow;
}
.fgheader a:link{
    color:white;
    font-family: franklin-gothic-urw, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
}
.fgheader a:hover{
    color:white;
    font-family: franklin-gothic-urw, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
}
.fgheader a:visited{
    color:lightgray;
    font-family: franklin-gothic-urw, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
}
.fgheader a:active{
    color:lightblue;
    font-family: franklin-gothic-urw, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
}
.fgheader p{
font-family: franklin-gothic-urw, sans-serif;
font-weight: 400;
font-style: normal;
}
.fgheader p.italic{
font-family: franklin-gothic-urw, sans-serif;
font-weight: 400;
font-style: italic;
}
.fgheader h1{
font-family: franklin-gothic-urw, sans-serif;
font-weight: 900;
font-style: normal;
font-size: 100px;
margin-top: 0px;
margin-bottom: 0px;
margin-right: 0px;
margin-left: 0px;
}
.fgheader h1.italic{
font-family: franklin-gothic-urw, sans-serif;
font-weight: 900;
font-style: italic;
font-size: 100px;
margin-top: 0px;
margin-bottom: 0px;
margin-right: 0px;
margin-left: 0px;
}
.fgheader h2{
font-family: franklin-gothic-urw, sans-serif;
font-weight: 700;
font-style: normal;
font-size: 50px;
margin-top: 0px;
margin-bottom: 0px;
margin-right: 0px;
margin-left: 0px;
}
.fgheader h2.italic{
font-family: franklin-gothic-urw, sans-serif;
font-weight: 700;
font-style: italic;
font-size: 50px;
margin-top: 0px;
margin-bottom: 0px;
margin-right: 0px;
margin-left: 0px;
}
.fgheader h3{
font-family: franklin-gothic-urw, sans-serif;
font-weight: 900;
font-style: normal;
font-size: 80px;
margin-top: 0px;
margin-bottom: 0px;
margin-right: 0px;
margin-left: 0px;
}
.fgheader h3.italic{
font-family: franklin-gothic-urw, sans-serif;
font-weight: 900;
font-style: italic;
font-size: 80px;
margin-top: 0px;
margin-bottom: 0px;
margin-right: 0px;
margin-left: 0px;
}

.dosfont a:link{
    font-family: dos_vga_437;
    color:white;
    font-style: normal;
    font-size: 50px;
    text-decoration: none;
}
.dosfont a:hover{
    font-family: dos_vga_437;
    color:black !important;
    background-color: white;
    font-style: normal;
    font-size: 50px;
    text-decoration: none;
}
.dosfont a:visited{
    font-family: dos_vga_437;
    color: white;
    font-style: normal;
    font-size: 30px;
    text-decoration: none;
}
.dosfont h1{
    font-family: dos_vga_437;
    color:white;
    font-style: normal;
    font-size: 50px;
}
.dosfont h2{
    font-family: dos_vga_437;
    color:white;
    font-style: normal;
    font-size: 30px;
}
.geocities a:hover{
    animation: rainbow 2s infinite;
    font-family: dos_vga_437;
    background-color:black;
    font-style: normal;
    font-size: 50px;
    text-decoration: none;
}