@font-face {
    font-family: pixchicago;
    src: url('perfect_pixchicago-webfont.woff2') format('woff2'),
         url('perfect_pixchicago-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'apple_garamondregular';
    src: url('applegaramond-webfont.woff2') format('woff2'),
         url('applegaramond-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pixel_arial_11bold';
    src: url('pixeab__-webfont.woff2') format('woff2'),
         url('pixeab__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pixel_arial_11regular';
    src: url('pixearg_-webfont.woff2') format('woff2'),
         url('pixearg_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pixchicago';
    font-style: normal;
    font-weight: normal;
    src: local('pixchicago'), url('/stylesheets/pixChicago.woff') format('woff');
}

@keyframes shake{
    0%  {left: 200px;}
    25% {left: -200px;}
    50% {left: 200px;}
    75% {left: -200px;}
    100%{left: 200px;}
}
@keyframes rainbow{
    0%    {color: red;}
    12.5% {color: orange;}
    25%   {color: yellow;}
    37.5% {color: green;}
    50%   {color: blue;}
    62.5% {color: indigo;}
    75%   {color: purple;}
    87.5% {color: violet;}
    100%  {color: red;}
}
@keyframes flash1{
    0%    {color: white;}
    100%  {color: orange;font-weight: bold;}
}
@media (max-width: 1100px) {                  
    .hide-if-small {
        display: none;
    }
    #mainlogo{
        margin: 10px;
        width: 170% !important;
        text-align: center !important;
    }
    .dropdown img {
        width:1500px !important;
    }
    .blog-view {
        display: none !important;
    }
}
@media (max-width: 1900px) {                  
    #cube-footer {
        display: none;
    }
    #cube-footer-text {
        display: block;
    }
}
@keyframes movein{
    0%  {opacity: 0; right: 200px;}
    25% {opacity: 0; right: 200px;}
    100%{opacity: 1; right: 0px;}
}
@keyframes fadein{
    0%  {opacity: 0;}
    80% {opacity: 0;}
    100%{opacity: 1;}
}
@keyframes slide {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -100%;
  }
}
body{
    background-color: rgb(10, 10, 10);
}
.body-border body{
    margin: 0 auto;
}
#inside-border{
    display: none;
}
#intro{
    background-image: url("/assets/peckos/Background.png");
}
footer {
    font-family: "apple_garamondregular";
    font-size: 30px;
    text-align: center;
    color: white;
}

.peckos-font, .peckos-font a{
    font-family: "pixchicago";
    color: white;
    text-decoration: none;
}

body {
    background-image: url("/assets/peckos/Background.png");
}

.draggable {
    cursor: grab;
}

.draggable.is-pointer-down {
    cursor: grabbing;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(214,214,214);
    min-width: 160px;
    box-shadow: 5px 8px 0px 0px black;
    padding: 12px 16px;
    z-index: 1;
}

.dropdown a{
    color:black;
    font-size: 15px;
}

.dropdown:hover{
    cursor:pointer;
}

.dropdown-content a:hover{
    color:red;
}

#indexmenu a{
    color:black;
    cursor: pointer;
}
#indexmenu a:hover{
    color:white;
    background-color: black;
}
.blog-page a{
    color: blue;
    font-style: italic;
}
.blog-page a:hover{
    color: white;
    background-color: black;
}
.blog-page{
    color:black;
}
#indexmenu h1{
    color:black;
    font-size: 10px;
}
#organic-games-link:hover{
    cursor:pointer;
}